.vscode/

# Ignore virtual environment folder
.venv/

# Ignore local virtual environment aliases
venv/

# Streamlit cache
.streamlit/

# Ignore other Python related files
__pycache__/
*.py[cod]
*.ipynb_checkpoints/
